header {
    background-image: url(../assets/img/design1_image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    height: 40vh;
}

body {
    background-color: #ffffff;
    font-family: cursive;
    font-size: 18px;
}

body > header > p {
    font-size: 60px;
    display: initial;
    font-weight: bold; 
}

#button {
    color: black;
    text-decoration: none;
}

.text p > a {
    text-decoration: underline 2px black;
}

main > div {
    display: flex;
    align-content: space-around;
}

.dates {
    width: 600px;
    margin-left: 100px;
    font-size: 18px;
}

.dates dt {
    margin-top: 20px;
}

.text {
    width: 800px;
    margin-left: 50px;
    font-size: 18px;
}

header > img {
    position: absolute;
    height: 150px;
    top: 36vh;
    right: 10vw;
}

.caja {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    background: #000000;
    margin: 5px 0px 25px;
    overflow: hidden;
    padding: 8px;
    text-align: center;
    border: 2px solid #777777;
}

dt {
    font-weight: bold;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.marg {
    margin-top: 7%;
}

.margin {
    margin: 0px;
    text-indent: 20px;
    font-size: 17px;
}

.margin2 {
    margin: 3% 50px 6% 0px;
    text-indent: 6%;
}

.margin3 {
    margin: 0px 50px 0px -6%;
}

nav > ul > li {
    list-style-type: none;
    margin: 0px 45px 60px 0px;
}

.rules-title {
    list-style-type: none;
    text-align: center;
    margin-right: 15%;
}

.div {
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    margin-left: 22.5%;
    list-style-position: inside;
}

li > p {
    font-weight: normal;
    display: inline;
}

ol > li {
    font-weight: bold;
    margin-top: 20px;
}

.ol li {
    font-weight: normal;
    margin: 0px 40px 0px -40px;
    list-style-type:lower-latin;
}

.ul li {
    margin: -15px 40px 0px 5px;
    text-indent: 2%;
    list-style-type: circle;
}

.gamediv {
    font-family: 'Lato', sans-serif;
    width: 700px;
    margin-left: 22.5%;
    font-size: 20px;
}

.pgame {
    font-size: 35px;
    font-weight: bold;
    margin-left: 23%;
    margin-bottom: 1%;
}

.underline {
    text-decoration: underline 2px black;
    margin-bottom: 6%;
}

.table th {
    padding-left: 15px;
    padding-bottom: 10px;
}

.table td {
    padding-left: 45px;
}

.locth {
    padding-right: 40px;
}

.ulgames {
    margin-top: 10%;
    padding: initial;
    list-style-position: inside;
    list-style-type: none;
}

.ulgames li {
    font-weight: bold;
    padding-bottom: 2%;
}

.game_email {
    text-align: end;
    margin-top: -40px;
}

.game_email p > a {
    text-decoration: none;
    color: #000000;
}

.paddli {
    padding-top: 6%;
}